body {
    text-align: center;
}

.HelpdeskContainer {
    display: inline-block;
}

div.HelpdeskForm {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    width: 250px;
    margin: auto;
}

form {
    display: block;
}

input, select, label, textarea, p {
    display: block;
    resize: none;
    text-align: left;
    margin-left: 40px;
}

label {
    margin-bottom: 2px;
}

.status {
    color: red;
}